<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="navbar">
      <ul class="navElements">
        <a href="/main"><img src="/images/squid_home.png"></a>
        <li><a href="/user/logout">Logout</a></li>
        <li><a href="/account">Account</a><li>
        <li><a href="/myquestions">My Questions</a><li>
        <li><a href="/myanswers">My Answers</a><li>
        <li><a href="/askquestion">Ask Question</a><li>
      </ul>
    </div>

    <form method="post" action="/askquestion/askquestion" class="logElementsQuestion">
      Title: <textarea class="qTitle" name="qTitle" maxlength="300"></textarea> <br>
      Text:  <textarea class="qText" name="qText" maxlength="1500"></textarea> <br>
      <button>Post Question</button>
    </form>


    <p><a href="/main">Back to Main</a></p>
  </body>
</html>