<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="homeBackground">
    <img src="/images/squid_green.png" class="greenSquidsmall">
    <img src="/images/squid_pink.png" class="pinkSquidsmall">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
