<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="homeBackground">

    <img src="/images/squid_green.png" class="greenSquid">
    <img src="/images/squid_pink.png" class="pinkSquid">

    <div class="logAndAdd">

    <h1><%= title %></h1>

    <div><%= message %></div><br>

    <form method="post" action="/user/auth" class="logElementsWhite">
      User Name: <input type="text" name="username"> <br> 
      Password:  <input type="password" name="password"> <br>
      <button>Login</button>
    </form>

    <h3>Make an account below!</h3>
    <div><%= createmessage %></div><br>

    <form method="post" action="/user/create" class="logElementsWhite">
      User Name: <input type="text" name="username" maxlength="20"> <br>
      Password:  <input type="password" name="password" maxlength="50"> <br>
      First Name: <input type="text" name="fname" maxlength="50"> <br>
      Last Name: <input type="text" name="lname" maxlength="50"> <br>
      <button>Sign Up</button>
    </form>
    </div>

  </body>
</html>