<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="homeBackground">

    <img src="/images/squid_green.png" class="greenSquid">
    <img src="/images/squid_pink.png" class="pinkSquid">
    <div class="logAndAdd">
    <h1><%= title %></h1>
    <div><%= message %></div><br>
  </div>

    <div id="login">
      <form method="post" action="/user/auth" class="loginForm">
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="Password"/>
        <button>Log In</button>
      </form>
    </div>

    <div class="logAndAdd">
    <h3>Make an account below!</h3>
    <div><%= createmessage %></div><br>
  </div>

  <div id="login">
    <form method="post" action="/user/create" class="loginForm">
      <input type="text" name="username" maxlength="20" placeholder="New Username">
      <input type="password" name="password" maxlength="50" placeholder="New Password">
      <input type="text" name="fname" maxlength="50" placeholder="First Name">
      <input type="text" name="lname" maxlength="50" placeholder="Last Name"> 
      <button>Sign Up</button>
    </form>
  </div>
  </body>
</html>