<!DOCTYPE html>
<html>
  <head>
    <title>Repliance | <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'/>
  </head>
  <body class="homeBackground">
    <img src="/images/squid_green.png" class="greenSquidsmall">
    <img src="/images/squid_pink.png" class="pinkSquidsmall">
    <h1><%= title %></h1>

    <p><a href="/main" class = "backLink">Back to Main</a></p>

    <div class="navbar">
      <ul class="navElements">
        <a href="/main"><img src="/images/squid_home.png"></a>
        <p>Welcome <%= username %>!</p>
        <li><a href="/user/logout">Logout</a></li>
        <li><a href="/account">Account</a><li>
        <li><a href="/myquestions">My Questions</a><li>
        <li><a href="/myanswers">My Answers</a><li>
        <li><a href="/askquestion">Ask Question</a><li>
      </ul>
    </div>

    <div class = "myQuestionList"><%= myquestions %></div> 

  </body>
</html>
