body {
	padding: 50px;
	font: 14px "Ubuntu", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.title{
	color: white;
	padding-left: 40px;
	font-size: 225%;
}

#login{
	width: 400px;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 2%;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

.loginForm{
	background: #f0f0f0;
	padding: 6% 4%;
}

input[type="text"], input[type="password"]{
	width: 90%;
	background: #fff;
	margin-bottom: 4%
	border: 1px solid #ccc;
	padding: 4%;
	font-size: 95%;
	color: #555;
}

.logButton{
	width: 365px;
	background: #3399cc;
	border: 0;
	padding: 4%;
	font-size: 100%;
	color: #fff;
	cursor: pointer;
	transition:background .3s;
	-webkit-transition:background .3s;
}

.otherButton{
	width: 365px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 200%;
	background: #fff;
	border: 0;
	padding: 4%;
	font-size: 100%;
	color: #3399cc;
	cursor: pointer;
	transition:background .3s;
	-webkit-transition:background .3s;
}

button:hover{
	background: #22288bb;
}

.homeBackground {
	padding: 50px;
	background: url(../images/background_blue.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0px;
	margin: 0px;
}

.greenSquid{
	position: absolute;
	left: 50px;
	bottom: 50px;
	z-index: -1;
}

.pinkSquid{
	position: absolute;
	right: 50px;
	top: 100px;
	z-index: -1;
}

.pinkSquidsmall{
	position: absolute;
	right: 250px;
	top: 50px;
	max-width: 20%;
	max-height: 20%;
	z-index: -1;
}

.greenSquidsmall{
	position: absolute;
	left: 50px;
	bottom: 50px;
	max-width: 20%;
	max-height: 20%;
	z-index: -1;
}

.iceSquid{
	width: 40%;
}

.logAndAdd {
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width:400px;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 200%;
}

.logElementsQuestion{
	padding-left: 40px;
	font-family: 'Ubuntu', sans-serif;
	text-align: left;
	color: white;
	width: 600px;
	font-weight: bold;
}

.navbar {
	width:200px;
	margin-right: 0;
	margin-left: 0;
	padding: 0;
	max-height: none;
	height: 100%;
	background-color: #fff;
	top: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	padding-bottom: 5000px;
	margin-bottom: -5000px;
	overflow: hidden;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.navElements{
	list-style-type: none;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	display: block;
}

.navImg {
	position: relative;
	left: 10.5%;
	height: 150px;
}

.navElements > li > a {
	text-decoration: none;
}

.navbar-nav,.navbar-nav > li {
	float:none !important;
}

.qTitle {
	width: 800px;
	height: 100px;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	color: black;
}

.qText {
	width: 800px;
	height: 575px;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	color: black;
}

.replyText {
	width: 600px;
	height: 75px;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	color: black;
}


.qList{
	list-style-type: none;
	padding-left: 40px;
	line-height: 10px;
	color: black;

}

.numList{
	color: black;
}

.questionList{
	margin: 10px 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	border-radius: 10px;
	list-style-type: none;
	display: block;
	background-color: white;
	width: 62%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.myQ{
	line-height: 20px;
}

.myQTitle{
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	color: #0066CC;
}

.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.qlistel>.container{

	margin: 10px 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	border-radius: 10px;
	list-style-type: none;
	display: block;
	background-color: white;
	width: 62%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.panel-primary {	border-color: transparent;}

.panel-heading {
  padding: 0px 0px;
  border-color: transparent;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.panel-primary>.panel-heading {
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	color: black;
	border-radius: 10px;
  background-color: white;
	border-color: transparent;
}

.panel-primary>.panel-body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	color: black;
	border-radius: 10px;
  background-color: white;
	border-color: transparent;
}

.panel{
	border-radius: 0px;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.panel-primary>.panel-heading> .panel-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	color: black;
	border-radius: 10px;
  background-color: white;
}

.panel-heading span
{
    margin-top: 0px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none;}
