body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logAndAdd {
	text-align: center;
    position: relative;
    margin-left: auto;
   	margin-right: auto;
   	width: 225px;
   	height: 300px;
}

.logElements{
	text-align: left;
	width: 200px;
}

.navbar {
	width: 200px;
	height: 100%;
	background-color: #E5E4E2;
	top: 0px;
	right: 0px;
	position: absolute;
}

.navElements{
	list-style-type: none;
	font-size: 20px;
	font-family: 'Arial';
	text-decoration: none;
	display: block;
}


.navElements > li > a {
	text-decoration: none;
}